<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body background="https://images.pexels.com/photos/1770310/pexels-photo-1770310.jpeg?auto=compress&cs=tinysrgb&w=600">
    <div class="container">
        <h1>
            <b><i>Remissio Tours</i></b>
        </h1>
        <p>
            <i>Welcome to our homepage, we proviide a wide variety of tour and hotel destinations for your purview and booking.
                With an aim to please we welcome any bookings, inqiries and comments on our site. 
            </i>
        </p>
        <p>
            <i>Have a wonderful vacation.</i>
        </p>
    </div>
</body>
</html>
